body {
	margin: 0;
	padding: 0;
}

.moveable {
	margin: 0;

	position: absolute;
}

a {
	color: #000;
	text-decoration: none;
}

ul {
	padding-left: 1em;
}

li {
	line-height: 1.5em;
}

a:hover {
	border-bottom: 1px dotted #000;
}

/* For Blog Title */
.title {
    font-size: 2em;
}

/* For Blog Title */
#sub-heading {
    font-size: 1.5em;
}

/* For Blog Content */
p {
    font-size: medium;
}

/* For Blog Table */
tr {
    right: 100%;
}

td a {
	color: rgb(54, 48, 52)
}

/* For Blog Table */
th {
    font-size: xx-large;
}

/* For Blog Code */
code {
    font-size: large;
}

/* For Blog Code */
pre[class*="language-"] {
	padding: 0 !important;
	font-size: medium !important;
	/* background-color: #efefef !important; */
}

.content {
	padding: 0.5em;
}

.heading {
	font-size: xx-large !important;
}

pre code {
	font-family: 'Fira Code', monospace !important;
	background-color: rgba(236, 240, 241, 1) !important;
	border: 1px solid #000000;
	display: block;
	padding: 20px; 
	font-size: 1em !important;
}


#blogs {
	display: inline-block;
	width: 100%;
	height: 100%;
	/*  */
}

#blog {
	height: 70rem;
	width: 65rem;

	padding-bottom: 0rem;
}




@media screen and (max-width: 600px) {
	p, ul {
		font-size: 14px;
	}

	h1, h2, h3, h4, h5, h6 {
		font-size: 16px;
	}

	/* Add Code and content */
/* 
	#projects {
		height: 15rem;
		width: 20rem;

		padding-bottom: 5rem;
	}

	#about {
		width: 10rem;
	}

	#model {
		height: 20rem;
	}

	#terminal {
		height: 15rem;
		width: 22.5rem;
	} */

	.hide {
		display: none;
	}
}
