body {
	margin: 0;
	padding: 0;
}

.moveable {
	margin: 0;

	position: absolute;
}

.title {
    font-size: 2em;
}

#sub-heading {
    font-size: 1.5em;
}

p {
    font-size: medium;
}

code {
    font-size: large;
}

tr {
    right: 100%;
}

th {
    font-size: xx-large;
}

a {
	color: #000;
	text-decoration: none;
}

ul {
	padding-left: 1em;
}

li {
	line-height: 1.5em;
}

a:hover {
	border-bottom: 1px dotted #000;
}

pre[class*="language-"] {
	padding: 0 !important;
	font-size: medium !important;
	/* background-color: #efefef !important; */
}

.content {
	padding: 0.5em;
}

.heading {
	font-size: xx-large !important;
}

pre code {
	font-family: 'Fira Code', monospace !important;
	background-color: rgba(236, 240, 241, 1) !important;
	border: 1px solid #000000;
	display: block;
	padding: 20px; 
	font-size: 1em !important;
}



#blog {
	height: 70rem;
	width: 65rem;

	padding-bottom: 0rem;
}



@media screen and (max-width: 600px) {
	p, ul {
		font-size: 14px;
	}

	h1, h2, h3, h4, h5, h6 {
		font-size: 16px;
	}

	.hide {
		display: none;
	}
}
